{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({ 'class': attr.class|default('') ~ ' select2' }) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock %}

{% block typeahead_widget %}
    {% spaceless %}
        {% set attr = attr|merge({
            'class': attr.class|default('') ~ ' ajax-typeahead',
            'data-link': data_link|default(''),
            'autocomplete': 'off' }) %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{% block form_widget_remove_btn %}
    {% spaceless %}
        {% if widget_remove_btn|default(null) %}
        {% set button_type = 'remove' %}
        {% set button_values = widget_remove_btn %}
        {{ block('collection_button') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_remove_btn %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse... {{ form_widget(form.file) }}
                </span>
            </span>
            <p class="form-control">
                <span class="upload-selected hidden"></span>
                <span class="upload-deleted text-danger hidden">
                {% if download_uri is defined and download_uri %}
                    File {{ form.file.vars['data'].filename }} will be deleted!
                    </span>
                    <a class="upload-current" href="{{ download_uri }}">{{ form.file.vars['data'].filename }}</a>
                {% else %}
                    </span>
                    <a class="upload-current hidden"></a>
                {% endif %}
            </p>
            {% if form.delete is defined %}
                <span class="input-group-btn" data-toggle="buttons">
                    <label class="btn btn-file-delete">
                        <input type="checkbox" autocomplete="off"
                               id="{{ form.delete.vars['id'] }}"
                               name="{{ form.delete.vars['full_name'] }}"
                               value="{{ form.delete.vars['value'] }}">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </label>
                </span>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
